.header{
        margin: 1em 0;
}
.row2{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.jumbo{
        margin-bottom: 0;
}

.jumbo__title{
        margin-bottom: 0;
}
.jumbo__w-title{
        padding-top: 10px;
        padding-bottom: 0px;
}
.jumbo__ww-title2{
        
        height: 500px;
        background: rgba(47, 46, 45, 0.85);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        text-align: center;

}
.the-form__group label{
        
        text-align: start;
        margin-left: 48px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: white;
}
.the-form__imput{

        margin-top: 16px;
}

#comments_opinions{
        height: 100px;
        width: 400px;
}

#comments_name{

        width: 400px;
}

#comments_surname{
        width: 400px;
}

#comments_city{

        width: 400px;
}

#comments_country{

        width: 400px;
}

#comments_email{

        width: 400px;
}

.footer{
        padding-bottom: 0px;
}

