.privacyPolicy{
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    font-family: "Catamaran", sans-serif;
    line-height: 0.5cm;
    font-size: 9px;

}

.black{
    font-weight: bold;
}