<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}
         Maleteo 💼
        {% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% block header %}
            <div class="wrapper">
                <div class="container-fluid">
                  <header class="header">
                      <a href="{{ path('Maleteo') }}" target="_blank"><img src="assets/img/logo.svg" alt="Maleteo"></a>
                  </header>
                  
                </div>
            </div>
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}
        {{ 'now'|date('d/m/Y') }}
            <footer class="footer">
              <div class="wrapper">
                <div class="container-fluid">
                  <a href="{{ path('Maleteo') }}"><img src="assets/img/logo.svg"
                      alt="Maleteo"
                      class="footer__logo"></a>
                  <p class="footer__claim">
                    Hecho con ❤️ en Madrid
                  </p>
                </div>
              </div>
            </footer>
        {% endblock %}
        {% endblock %}
        {# {% block javascripts %}{% endblock %} #}
    </body>
</html>
