{% extends "base.html.twig" %}
{% block stylesheets %}
{{  parent()  }}
<link rel="stylesheet" href="{{ asset('assets/styles/comments.css') }}">
{% endblock %}
{% block title %}
 Comments 📝
{% endblock %}
{% block main %}
    <div class="jumbo">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row2">
            <div class="col-md-6">
              <div class="jumbo__ww-title2">
              {% block titleh1 %}
                <h1 class="jumbo__title heading1">¡Tu opinión cuenta!</h3>
              {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
              {% endfor %}  
              {% endblock %}
                <div class="jumbo__w-title">
                <div class="the-form__group">
                {% block form %}
                {{ form_start(comments) }}
                {{ form_label(comments,'Nombre') }}
                {{ form_widget(comments.name) }}
                {{ form_label(comments,'Apellido') }}
                {{ form_widget(comments.surname) }}
                {{ form_label(comments,'Email') }}
                {{ form_widget(comments.email) }}
                {{ form_label(comments,'Ciudad') }}
                {{ form_widget(comments.city) }}
                {{ form_label(comments,'País') }}
                {{ form_widget(comments.country) }}
                {{ form_label(comments,'Comentario') }}
                {{ form_widget(comments.opinions) }}
                <div class="the-form__imput">
                    <input type="submit"
                    class="the-form__btn btn btn-lg btn-primary"
                    value="Enviar">
                </div>
                {{ form_end(comments) }}
                {% endblock %}
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}