{% extends "./base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}
{% block main %}
  <main>
    <div class="jumbo">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="jumbo__ww-title">
                <div class="jumbo__w-title">
                  <h1 class="jumbo__title heading1">
                    Gana dinero guardando equipaje a viajeros como tu
                  </h1>
                  <ul class="jumbo__app-btns">
                    <li>
                      <a href="https://www.apple.com/es/ios/app-store/">
                        <img src="assets/img/app-store.svg"
                             alt=""
                             class="jumbo__app-btn">
                      </a>
                    </li>
                    <li>
                      <a href="https://play.google.com/store?gl=ES">
                        <img src="assets/img/google-play.svg"
                             alt=""
                             class="jumbo__app-btn">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="container-fluid">
        <section class="howworks">
          <h2 class="howworks__title heading2">
            ¿Cómo funciona?
          </h2>
          <ol class="howworks__steps row">
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
            <li class="col-md-4">
              <div class="howworks__step">
                <div class="howworks__step-w-bola">
                  <div class="howworks__step-bola">
                    <span class="heading3">1</span>
                  </div>
                </div>
                <div class="howworks__step-w-txt">
                  <p class="howworks__step-title heading3">
                    Date de alta
                  </p>
                  <p class="howworks__step-txt">
                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </section>

        <section class="app-form">
          <div class="row">
            <div class="col-md-5">
              <div class="app-form__w-app-img">
                <img src="assets/img/iPhoneX.png"
                     srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                     alt=""
                     class="app-form__app-img">
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="the-form">
              <p class="the-form__title heading3">
                    Solicita una demo
                  </p>
              {% for flash_message in app.session.flashbag.get('notice') %}
              <div class="flash-notice">
              {{ flash_message }}
              </div>
              {% endfor %}
              <div class="the-form__group">
              {{ form_start(demoRequest) }}
                  {{ form_widget(demoRequest) }}
                  <label for="privacity">
                  <input type="checkbox" name="" id="" 
                  value="" required>
                  Aceptas la <a href="{{ path('Política-privacidad') }}">política de privacidad</a>                      
                  </label>
                  <input type="submit"
                      class="the-form__btn btn btn-lg btn-primary"
                      value="Enviar">
              {{ form_end(demoRequest) }}
            </div>
          </div>
        </section>

        <section class="opinions">
          <h2 class="opinions__title heading2">
            Opiniones de otros guardianes
          </h2>
          <div class="row">
          {% for comment in comments %}
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-header">
                    <div class="">
                    <img src="" alt="user-photo">
                    </div>
                    <h5>{{comment.name | capitalize }} {{comment.surname | capitalize}}</h5>
                  </div>
                  <div class="card-body">
                    <h6 class="card-title">{{comment.country | capitalize }} {{comment.city | capitalize }}</h6>
                    
                    <p class="card-text">{{comment.opinions | capitalize}}</p>
                  </div>
                </div>
            </div>
          {% endfor %}
          </div>
        </section>         
  </main>
{% endblock %}