{% extends "/base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/styles/styles.css">
<link rel="stylesheet" href="assets/styles/privacyPolicy.css">
{% endblock %}
{% block title %}
    Maleteo ⚖ 
{% endblock %}
{% block main %}

<div class="privacyPolicy">
{{political}}
</div>

{% endblock %}