{% extends "showDemoRequest.htm.twig" %}

{% block title %}
    Comments 📫
{% endblock %}
  {% block titleh1 %}
    <h1 class="jumbo__title heading1">Solicitudes</h1>
  {% endblock %}
    {% block form %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
        {% for comment in comments %}
        <tbody>
          <tr>
            <th scope="row">{{ comment.name | capitalize }}</th>
            <td>{{ comment.surname | capitalize }}</td>
            <td>{{ comment.city | capitalize }}</td>
            <td>{{ comment.opinions | capitalize }}</td>
          </tr>
        </tbody>
      {% endfor %}
      </table>
{% endblock %}