{% extends "comments.html.twig" %}
{% block stylesheets %}
{{  parent() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock %}
{% block title %}
    Requests 📫
{% endblock %}
  {% block titleh1 %}
    <h1 class="jumbo__title heading1">Solicitudes</h1>
  {% endblock %}
    {% block form %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Ciudad</th>
          </tr>
        </thead>
        {% for request in requests %}
        <tbody>
          <tr>
            <th scope="row">{{ request.name | capitalize }}</th>
            <td>{{ request.surname | capitalize }}</td>
            <td>{{ request.email | capitalize }}</td>
            <td>{{ request.city | capitalize }}</td>
          </tr>
        </tbody>
      {% endfor %}
      </table>
{% endblock %}